/* Custom css goes here */

/*logo*/
.navbar-brand {
    width:80px;
    height:80px;
}


 
  body {
    background: #297aa3;
  }

 /*
 h1{
    color: rgb(255, 255, 255);
 }
 */

 h1 {
   font-family:  "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
   color:	#003366 ;
   font-size: xx-large;
 }

 h2 {
   font-family:  "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
   color: white;
   font-size: x-large;
 }

 h3 {
   font-family:  "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
   color: white;
   font-size: large;
 }
 
 p {
   font-family:  "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
   color: #336699;
   font-size: large;
   text-indent: 30px;
 }

 .btnhome {
  background-color:#003366;
  display: inline-block;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
 }
