/* 
   Author: Min Li
   Student ID: 301130589
   Date: Sept 25, 2021 

   Filename: app.css
*/


/* Custom css */

/*logo*/
.navbar-brand {
    width:80px;
    height:80px;
}


/*content*/ 
  body {
    background: #297aa3;
  }

 h1 {
   font-family:  "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
   color:	#003366 ;
   font-size: xx-large;
 }

 h2 {
   font-family:  "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
   color: white;
   font-size: x-large;
 }

 h3 {
   font-family:  "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
   color: white;
   font-size: large;
 }
 
 p {
   font-family:  "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
   color: #336699;
   font-size: large;
   text-indent: 30px;
 }

 /*buttom of learn more on home page*/
 .btnhome {
  background-color:#003366;
  display: inline-block;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
 }

 /* personal pic float with paragrah on about page*/
  #pslpic{
   float: left;
   
 }

 /* css set for contact.ejs */
 article {
  font-family:  "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #336699;
  width: 800px;
  text-align: left;
  background: ivory;
  padding: 20px;
}

form {
  padding: 10px;
  margin:0px auto;
}

fieldset {
  margin-bottom: 10px;
  position: relative;
  padding: 2.5em 1em 0.5em 1em;
  width: 50%;
  margin:0px auto;
  float:none;
}

input {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #336699;
  font-size: 0.8em;
}


#sendinfo, #buttons {
  border: none;
}

#sendinfo label {
  display: block;
  float: left;
  clear: left;
  margin-top: 5px;
}

#sendinfo input {
  display: block;
  margin-left: 130px;
}


#fstnameipt, #lstnameipt, #phnumipt, #emailipt {
  width: 15em;
}

#msginput {
  width: 15em;
  height:5em;
}

#sendBtn, #clearBtn {
  font-family:  "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color:#003366;
  display: inline-block;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#btnhome1 {
  font-family:  "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color:#003366;
  display: inline-block;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
}

#buttons {
  background: inherit;
  border: none;
  padding: 1em 0 0 0;
  text-align: center;
}

/*project pics can adjust when users adjust the browser's size*/
div {
  display: block;
}

#projectimgs {
  width: auto;
  height: auto;
  max-width:60%;
  max-height: 60%;

}