

<div class="container py-4">
<br><br><br><br><br><br><br>
<!-- About Me Page -->
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Hi, Welcome to my About me page.</h1><br><br>
      <img src="/Assets/images/ML.jpg" width="108" height="154.2" />
      <p class="col-md-8 fs-4">My name is Min Li, who worked as a DBA and a section head in the IT department for 6 years. Now I am a student at Centennial College studying software development. Continuous learning is my attitude, which changing me a lot. Here is my resume.</p>
      <br><button class="btnhome"onclick="location.href='/resume'" type="button">My Resume</button>
    </div>
  </div>

</div>

