<div class="container">
        
         <center>
        <a name="top"></a><br /><br />
        <h1><font color="white">Min Li</font></h1>
        <img src="/Assets/images/ML.jpg" width="108" height="154.2" />
        <p>Optimism/Confident/Diligent</p>
        <marquee width="750px"><p>====== Contact Me: ElvisLi.MinLi#Gmail.com ======</p></marquee><br /><br />
        <h2><font color="white">01</font></h2>
        <h3>Life</h3><br /><br />
        <p>Travelling is one of my favorite hobbies during the long vacation.It is awesome to meet new people and expirence different culture.</p> <br /><br />
        <hr color="#FFCCCC" width="750px" /><br /><br />
 
        <h2><font color="white">02</font></h2>
        <h3>Work</h3><br /><br />
        <p>Love work。</p> <br /><br />
        <hr color="#FFCCCC" width="750px" /><br /><br />
 
        <h2><font color="white">03</font></h2>
        <h3>Quote</h3>
        <p>Making progress everyday.</p>
        <br /><br />
        <hr color="#FFCCCC" width="750px" /><br /><br />
 

 
        <a href="#top">Click to the top</a>
  </center>

</div>

