<div class="container">
        <br><br><br><br>
        <h1>Welcome to the <strong><%= title %></strong> page</h1><br><br><br><br>
</div>

<!-- Contact infor input set -->
<div>
        <center>
                <article class="p-5 mb-4 bg-light rounded-3">
                <form>
                        <button id="btnhome1"onclick="location.href='/home'" type="button">Back to Home Page</button>
                        <fieldset id="sendinfo">
                        <legend>You can leave me a message here:</legend>
                        <!-- err message field -->
                        <div id="errMsg"></div>
                        <div id="errEmail"></div>

                        <label for="fstnameipt">First Name: </label>
                        <input type="text" id="fstnameipt" name="fstname" />
                        <label for="lstnameipt">Last Name: </label>
                        <input type="text" id="lstnameipt" name="lstname" />
                        <label for="phnumipt">Phone: </label>
                        <input type="text" id="phnumipt" name="phnumber" />
                        <label for="emailipt">Email: </label>
                        <input type="text" id="emailipt" name="email" />
                        <label for="msginput">Leave a Message: </label><br>
                        <input type="text" id="msginput" name="msg" />
                        </fieldset>
                        <fieldset id="buttons">
                        <input type="submit" id="sendBtn" value="Send Now" />
                        <input type="submit" id="clearBtn" value="Clear Form" />
                        </fieldset>
                </form>
                </article>
        </center>
   </div>