<div class="container py-4">
<br><br><br><br><br><br><br>

<!-- Welcome message -->
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Hi, Welcome to my website.</h1>
      <p class="col-md-8 fs-4">Making the things <i>easier</i> is my <strong>target</strong>. <strong>Coding</strong> and <strong>Data Anaysis</strong> are my <i>secret weapons</i>.</p>
      <button class="btnhome" onclick="location.href='/about'" type="button">Learn more</button>
    </div>
  </div>

</div>

