
<div class="container py-4">
<br><br><br><br><br><br><br>
<!-- #1 of project page -->
  <div class="p-5 mb-4 bg-light rounded-3" id="top-p">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Project 1: BMR Calculator</h1><br><br>
      <img id="projectimgs" src="/Assets/images/project_01.jpg" />
      <p class="col-md-8 fs-4">This BMR calculator is my first JavaScript personal project developed using HTML, JavaScript, and CSS. Its function is very simple but works very well.</p>
      <br><button class="btnhome"onclick="location.href='#top-p'" type="button">Back to Top</button>
    </div>
  </div>
</div>

<br><br>

<div class="container py-4">
<br><br><br><br><br><br><br>
<!-- #2 of project page -->
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Project 2: Continuing Education Course/Instructor Evaluation</h1><br><br>
      <img id="projectimgs" src="/Assets/images/project_02.jpg" />
      <p class="col-md-8 fs-4">This Evaluation is an individual project using HTML and CSS. During the process, I design it by using form, fieldset and CSS.</p>
      <br><button class="btnhome"onclick="location.href='#top-p'" type="button">Back to Top</button>
    </div>
  </div>
</div>

<div class="container py-4">
<br><br><br><br><br><br><br>
<!-- #3 of project page -->
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Project 3: Weather & Location Search</h1><br><br>
      <img id="projectimgs" src="/Assets/images/project_03.jpg" />
      <p class="col-md-8 fs-4">This project is for the convenience of users who want to get the weather and location by using open weather API and Google Maps API. It is my personal project, and it works great.</p>
      <br><button class="btnhome"onclick="location.href='#top-p'" type="button">Back to Top</button>
    </div>
  </div>
</div>