<div class="container">

        <h1>Welcome to the <strong><%= title %></strong> page</h1>
</div>

<!-- #1 of services page -->
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/Assets/images/Service_01.jpg" width="312" height="202" class="w-100" alt="Application Development">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0">Application Development</h5>
    <a href="/contact" class="stretched-link">Contact me</a>
  </div>
</div>

<!-- #2 of services page -->
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/Assets/images/Service_02.jpg" width="312" height="202" class="w-100" alt="Web Development">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0">Web Development</h5>
    <a href="/contact" class="stretched-link">Contact me</a>
  </div>
</div>

<!-- #3 of services page -->
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/Assets/images/Service_03.jpg" width="312" height="202" class="w-100" alt="Database Development">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0">Database Development</h5>
    <a href="/contact" class="stretched-link">Contact me</a>
  </div>
</div>

<!-- #4 of services page -->
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/Assets/images/Service_04.jpg" width="312" height="202" class="w-100" alt="Data Analysis">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0">Data Analysis</h5>
    <a href="/contact" class="stretched-link">Contact me</a>
  </div>
</div>